<footer class="footer" id="footer">
    <div class="content has-text-centered has-text-white">
      <p>
        <a href="/" class="navbar-brand has-text-white is-size-3 footer-logo">iampragnesh</a>
        <h2 class="has-text-white is-size-4 text-centered">
          Explore, Dream, & Discover.
         </h2>
         <div class="social-icon">
          <div class="field">
            <a href="https://twitter.com/Ipragnesh05" class="button is-medium is-rounded m-2">
              <span class="icon is-small">
               <i class="fab fa-twitter"></i>
              </span>
            </a>
            <a href="https://www.facebook.com/pragnesh.shrimal.3" class="button is-medium is-rounded m-2">
             <span class="icon is-small">
               <i class="fab fa-facebook-f"></i>
             </span>
           </a>
           <a href="https://www.linkedin.com/in/pragnesh-shrimal-572a20190/" class="button is-medium is-rounded m-2">
             <span class="icon is-small">
               <i class="fab fa-linkedin-in"></i>
             </span>
           </a>
          </div>
        </div>
      </p>
      <div class="copyright has-text-centered has-text-white">
        "Handcrafted by Me"
      </div>
    </div>
  </footer>