
<nav class="navbar mt-6" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
          <a href="/" class="logo navbar-item">iampragnesh</a>
        </div>
      
        <div class="navbar-end">

           <!-- <div id="" class="navbar-menu">  -->
             
            <!-- <div class="navbar-item">
                <a href="/blogs" class="navbar-item is-size-5-mobile" id="nav-item">Blogs</a>
              </div> -->
           <div class="navbar-item">
             <a href="/resume" class="navbar-item is-size-5-mobile" id="nav-item">Resume</a>
           </div>
           <div class="navbar-item">
            <a href="/resources" class="navbar-item is-size-5-mobile" id="nav-item">Resources</a>
          </div>
           <div class="buttons navbar-item">
             <a href="/contact" class="button is-rounded is-outlined is-size-6-mobile" id="btn-color"
               >Say Hello</a
             >
          </div>
      </div>
    <!-- </div> -->

  </nav>