<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-primary">
            <p class="title">E-Commerce Website...</p>
            <p class="subtitle">A e-commerce website built on  Magento, Shopify to boost revenue and streamline online business activities.</p>
          </article>
          <article class="tile is-child notification is-warning">
              <img class="image is-128x128 m-2" src="images/website-icon.svg" alt="">
            <p class="title">...Website Design</p>
            <p class="subtitle">I design your website to be as easy to use as possible while converting traffic into paying customers.</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-info">
            <p class="title">Why work with me</p>
            <p class="subtitle">I do more than just creating a beautiful website; I create a website that brings customers to your business.</p>
            <figure class="image is-4by3">
              <img src="images/florian-olivo-4hbJ-eymZ1o-unsplash.jpg">
            </figure>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-danger">
            <i class="fas fa-search fa-3x m-2"></i>
          <p class="title">SEO</p>
          <p class="subtitle">I optimize your entire website to make it easier for your customers to find you, not the opposite.</p>
          <div class="content">
            <!-- Content -->
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-success">
        <div class="content">
            <i class="fas fa-headset fa-3x m-2"></i>
          <p class="title">Ongoing Support</p>
          <p class="subtitle mt-5">Whether you want to add a new feature or you run into some issues, I will help you.
              <br> <br>
              I create content for your business on social media so you don't have to pay for any ads to gain traffic.
              <br> <br>
              We discuss what you are trying to achieve, and create a website that aligns with your goals.
              <br> <br>
              The mobile-first development approach is exactly what it sounds. It involves designing for the mobile phone screen and working your way up to larger device sizes.
              <br> <br>
              I create a fast website that helps your search rankings and increases your conversion rate.
          </p>
          <div class="content">
            <!-- Content -->
          </div>
        </div>
      </article>
    </div>
  </div>